[2012-09-10 08:10] Mickroz opened #1 "Update server with -autoupdate"
Is there any way to let the server autoupdate with this? its quite anoying to have to update the servers manually everytime.
I made a cronjob for it, but sometimes the update gets done after the cronjob time, so then no one can log in and i have to do it manually.

[2012-09-11 16:34] #1 closed, assigned to crazy-max

[2012-09-14 08:51] cebor opened #2 "this script runs not in linux"
You need "dos2unix"  to run this script on linux.

There are many Windows-ending-lines in it ...

This is not very comfortable :(

[2012-09-14 15:54] #2 closed, assigned to crazy-max

[2012-10-05 00:35] xsigndll opened #3 "CentOS: chkconfig"
For server startup most people use (CentOS - script located at /etc/init.d/csgo):

[code]

This will fail because the following lines are missing in the head of the script:

[code]

Just add (with #) and everything will be fine.

Thanks.

[2012-12-31 16:24] #3 closed, assigned to crazy-max

[2013-01-23 13:03] F481 opened #5 "Installation of Counter-Strike:Global Offensive"
Hi crazy-max,

I think it would be a nice feature if you can setup (install) a CSGO server with your script.

To be more specific: What do you think about adding a method to your script which automatically do exact these steps you described on your website under the topic

So at the first time you can install a csgo server e.g. with
`sh csgo-serverlauncher.sh install <path>`
or something like that

[2013-02-07 19:22] pkern opened #6 "Update process sends a mail even if no update took place"
It would be cool if the update process would only mail if an update actually happened. Currently it will post the validation log every night. It's true, on the other hand, that just invoking the update process will have restarted the server. But as that's to be expected it's not out of the ordinary which warrants a mail from cron.

[2013-02-16 21:23] #6 closed, assigned to crazy-max

[2013-04-14 04:22] winniethepoohbear opened #9 "API_AUTHORIZATION_KEY (webapi_key.txt)"
webapi_authkey.txt can be defined in the game directory to avoid defining it in the launch parameters (https://developer.valvesoftware.com/wiki/CSGO_Workshop_For_Server_Operators). The current script doesn't allow adding +host_workshop_collection and +workshop_start_map without -authkey being defined

Ideas:
When generating the arguments the check for API_AUTHORIZATION_KEY should include a check t

[2013-04-15 11:35] #9 closed, assigned to crazy-max

[2013-06-05 05:39] 7urkm3n opened #10 "I cant Start the Launcher !"
Hello !

I need help, i cant launch start a server...
STOP, UPDATE, STATUS working actually...

START/RESTART gving error:

root@Server:/var/steamcmd/games/csgo# ./launcher.sh start
Starting Server...
-su: screen: command not found
Create runscript file '/var/steamcmd/runscript_Server' for autoupdate...
Start command : -game csgo -console -usercon -secure -autoupdate -steam_dir /var/steamcmd -stea

[2013-06-05 16:48] #10 closed, assigned to crazy-max

[2013-07-11 20:53] #5 closed, assigned to crazy-max

[2014-01-29 18:58] Malet opened #13 "Segfault"
This issue isn't exclusive to this script, but has anyone been getting segfaults unless srcds is run as root?

[2014-07-14 21:16] timotheus0106 opened #14 "short workshop problem"
First of all,

thank you for the great work, it makes hosting much more easy.

so no my question:
i dont wan't to use workshop collections on my server, but i configured it allready.

now when i comment the three lines for setting api_authorization_key, workshop_collection_id etc. out i cannot connect to the server any more. cs go console says: [MM] Sending reservation request to 82.220.39.40:2701

[2014-09-27 12:30] #13 closed, assigned to nobody

[2014-10-07 16:28] quentingosset opened #15 "Probleme fichier csgo de lancement serveur"
Ayant suivis tout le tutoriel suivant : http://www.crazyws.fr/tutos/installer-un-serveur-counter-strike-global-offensive-X4LCM.html

j'ai actuellement mon serveur qui tourne sans soucis.
Mais je rencontre un soucis lorsque je veux mettre votre script car j'obtient l'erreur suivante :+1:

steam@u12-84524:~$ /etc/init.d/csgo start
bash: /etc/init.d/csgo: /bin/bash^M: bad interpreter: No such file or

[2015-01-06 18:02] Gavrilko opened #17 "Problem"
Hello,

I have problem with this script. I upload script on my VPS and changed chmod on 777. I try start but linux reports error. I use Ubuntu.

Preview: http://pbrd.co/1xOwMIa

My code: http://codepaste.net/v5p5ju

[2015-01-06 22:00] crazy-max commented on #17
Code is malformed and does not contains any headers.
Perform this command to retrieve the content properly in your folder where you already have the script :

``wget --no-check-certificate https://raw.githubusercontent.com/crazy-max/csgo-server-launcher/master/csgo-server-launcher.sh``

[2015-01-13 12:34] crazy-max commented on #17
Tell me if it solves your problem @Gavrilko
Thanks

[2015-01-23 14:34] Gavrilko commented on #17
I have problem with users and console.

root@ubuntu:~# service csgo-server-launcher console
Open console on csgo...
Cannot open your terminal '/dev/pts/0' - please check.
root@ubuntu:~# su steam
steam@ubuntu:/root$ service csgo-server-launcher console
Open console on csgo...
Cannot open your terminal '/dev/pts/0' - please check.
steam@ubuntu:/root$

[2015-01-23 17:51] Gavrilko commented on #17
Yeah thanks :) But how to configure script if i want have many servers on my VPS ...

[2015-01-23 18:04] crazy-max commented on #17
Create a new issue for this suggestion please.

[2015-01-23 18:04] #17 closed

[2015-01-23 18:05] crazy-max commented on #15
No feedback, i close the ticket

[2015-01-23 18:05] #15 closed

[2015-01-25 07:36] DerfOh opened #18 "Unable to start server"
After editing the conf file I still get an error telling me "No passwd entry for user 'MyScreenName'" when I check the status of the server.

[2015-01-25 07:41] DerfOh commented on #18
I changed the values back to 'steam' for USER and 'anonymous' for the STEAM_LOGIN and STEAM_PASSWORD

[2015-01-25 07:41] #18 closed

[2015-02-05 16:57] Vosarey opened #19 "Can't acces Console"
Hey,
when the Server is startet with "service csgo-server-launcher start"
and i try to get into the console with "service csgo-server-launcher console" it always give's me the error
"Cannot open your terminal '/dev/pts/0' - please check." and
"Cannot open your terminal '/dev/pts/3' - please check."

[2015-02-07 13:59] DuBtrackz commented on #19
I'm sure that if you had an basic knowledge of linux based distributions, it would be no problem for you...I think this problem is not a bug
You havn't got the permission to access the terminal session.. So change the permission or use script.

[2015-02-19 12:02] crazy-max commented on #19
Like @DuBtrackz says it's a permission issue.
Try to log in as linux user used for csgo-server-launcher

[2015-03-19 07:11] Fatbird3 opened #21 "Intermittent hanging on 'create', when issuing quit command to steamcmd"
When running the create function (./csgo-server-launcher.sh create), the creation hangs when running steamcmd for the first time to update it; specifically it hangs when issuing the quit command or transitioning to the next step. I've tried as both root and the user intended to run the server, to the same effect. I can't quite tell what causes it, as it doesn't happen 100% of the time. This is wha

[2015-04-04 20:23] borli opened #22 "usable for multiple servers?"
What about making this script usable for multiple csgo servers hosted on 1 server?

[2015-04-05 18:31] Raideer commented on #22
I'm interested in this aswell

[2015-04-13 17:35] aneeven commented on #22
+1

[2015-04-18 21:14] Raideer commented on #22
Figured an easy way to do this.

1. Create a folder ```mkdir ~/server1```
2. ```cd ~/server1```
3. Get the script file ```wget https://raw.githubusercontent.com/crazy-max/csgo-server-launcher/master/csgo-server-launcher.sh -O csgo-server-launcher --no-check-certificate```
4. Make it executable ```chmod +x csgo-server-launcher```
5. Get the config file ```wget https://raw.githubusercontent.com/craz

[2015-04-28 08:32] borli commented on #22
Please, repeat also the steps for server2 so that both servers would operate simultaneously.

[2015-05-05 08:40] mohammadg commented on #22
@borli You can use the above to operate both servers simultaneously. All you are doing is simply having 2 config files and 2 csgo-server-launcher bash files. Make sure the ports are different in the config files and you should be able to run both at the same time.

[2015-05-06 00:53] lucasgautheron commented on #14
I'm having the same issue, have you managed to solve it ? If yes, how ?

[2015-05-06 08:17] timotheus0106 commented on #14
puh, i don't remember. comment the api_authorization_key, workshop_collection_id out, and try the default configs... then start changing part to part with always trying to connect until it doesn't work anymore... thats what i did.

[2015-05-30 12:36] borli commented on #22
OK Thanks. Now it works.

[2015-06-03 20:27] crazy-max commented on #22
I will check to implement this feature

[2015-06-23 18:59] frohlich commented on #22
This works for totally different servers? Server deathmatch and competitive for example.

[2015-06-24 00:09] mohammadg commented on #22
@frohlich Yes.

[2015-08-17 15:48] internalsystemerror opened #23 "Solve Permission Issues"
Ok, so I'm proposing this as a potential improvement as this was the only way I was able to login as one user, to run the script to update the server installed under a different user...

Currently when trying to run the script as a regular user (which differs from the user that installed steamcmd), all sorts of permission issues occur for me on CentOS 7.

The way to solve it was to put the .sh and

[2015-08-18 07:16] crazy-max commented on #23
Yes indeed we must check sudoer but not root.
I will improve the script by replacing these statements :

[code]

with

[code]

to check sudoers.

[2015-08-18 14:17] GazCBG opened #24 "To set this up on a CentOs server I did the following - This is not a bug"
Just incase anyone wanting to know how to set this up on a CentOs server.

cd /etc/init.d/

wget https://raw.githubusercontent.com/crazy-max/csgo-server-launcher/master/csgo-server-launcher.sh -O csgo-server-launcher --no-check-certificate

chmod +x csgo-server-launcher

chkconfig --add csgo-server-launcher

mkdir /etc/csgo-server-launcher/

cd /etc/csgo-server-launcher/

wget https://raw.githubus

[2015-10-13 18:41] crazy-max commented on #24
I will add an exception for this distrib.

[2015-10-13 18:45] crazy-max commented on #21
I will try to reproduce your problem.
Btw what is your distrib ?

[2015-10-17 21:18] Fatbird3 commented on #21
This was on Ubuntu 14.04. I'm not sure if you'll be able to reproduce, as it was inconsistent for me. It was also a problem with SteamCMD and not your script. I ended up finding the "updating steamcmd" block to be unnecessary so I removed it and everything worked fine. I haven't run this in a long time, though.

[2015-10-21 16:57] fuzzy76 commented on #19
It's both wrong and rude to call out ownership of terminals as basic knowledge imho. But yes, this is basically just a problem with the way screen works. One way to solve this is to make sure the server runs as the same user as you use for ssh'ing in to the server.

[2015-11-25 21:57] numsu commented on #18
"I changed the values back to 'steam' for USER and 'anonymous' for the STEAM_LOGIN and STEAM_PASSWORD"

Thanks for this! How stupid of me :D

[2015-11-26 10:47] skymeyer opened #26 "Add support for game server login tokens"
See https://steamcommunity.com/dev/managegameservers.

[2015-11-26 10:47] skymeyer commented on #26
See https://github.com/crazy-max/csgo-server-launcher/pull/25

[2016-01-07 07:15] skymeyer commented on #26
Implemented https://github.com/crazy-max/csgo-server-launcher/pull/25

[2016-01-07 07:15] #26 closed

[2016-02-10 12:44] lhecker commented on #19
@crazy-max It also does not work if you create a system instead of a regular account... I could solve it by using this though: http://serverfault.com/a/620149

[2016-11-24 10:51] pro100it opened #28 "Do not run after reboot"
Sorry for the bad English, I use translator. (

Installed everything according to instructions, everything starts everything works if run manually. When you reboot you get an error in the boot.log Cannot make directory '/var/run/screen': Permission denied and the server does not start

[2016-11-24 11:30] crazy-max commented on #28
Hi,

What is your operating system?

[2016-11-24 11:36] pro100it commented on #28
Ubuntu 14.04 x64

[2016-11-24 18:44] crazy-max commented on #28
Ubuntu changed the default shell for boot time scripts to dash. Reconfiguring the system back to using bash should resolve it : `dpkg-reconfigure dash` (More info on [this Github issue](https://github.com/msmhq/msm/issues/279))
I strongly advise you to upgrade your server!

[2016-11-24 18:44] #28 closed

[2016-11-25 06:02] pro100it commented on #28
Thank you! Now I will try to upgrade my version of 14.04 to the latest updates, go to 16 don't want

[2016-11-29 09:53] pro100it commented on #28
Offtop: I had to upgrade Ubuntu to version 16.04 differently did not work (

[2016-11-29 09:56] pro100it commented on #19
I have the same problem. Solved full by all accounts and login under which you run the launcher. In my case, the Steam user

[2016-11-29 12:37] crazy-max commented on #28
`dpkg-reconfigure dash` not working too ?

[2016-11-29 17:22] pro100it commented on #28
Yep, in version 14.04 not worked (

[2016-11-29 17:26] pro100it commented on #28
Once I updated at 16.04 ksgo-server-launcher  was launched together with the system

[2016-11-29 17:42] crazy-max commented on #28
Ok nice then :)

[2017-01-04 23:17] MikkelDK opened #29 "Update bug? [NOT FIXED / CLOSED!]"
Hello,

If i type launcher.sh update.
Why it wont start the gameserver up again if New update is installed or if update is up2date?

[2017-01-15 22:38] fragstar opened #30 "Cant start the Server"
Hello Guys,
I have a problem with the command "service csgo-server-launcher start". When i will start the Server with this comment comes: Job for csgo-server-launcher.service failed. See 'systemctl status csgo-server-l    auncher.service' and 'journalctl -xn' for details.

What can i do guys? Can anyone help me?

[2017-01-26 19:55] #29 closed

[2017-03-17 13:07] 9611262 opened #31 "Saveing space, update"
Hello there @crazy-max
steamcmd is downloading updates to /steamapps/downloading but my server space is limited (20 GB) and it's not going to happen. Is there a way to delete *.vpk files if update is available? Maybe you can add it to your code as a new option?

Regards and sorry for sending this as an issue (newbie)

[2017-04-21 15:17] crazy-max commented on #30
What is the output of the command `systemctl status csgo-server-l auncher.service` ?

[2017-04-21 15:18] crazy-max commented on #31
Hi @9611262,

Sure i can implement this option

[2017-04-21 15:20] crazy-max commented on #21
@Fatbird3 Is this problem still relevant?

[2017-04-21 16:26] Fatbird3 commented on #21
I haven't run this for years now, so I can't say for sure.

[2017-04-21 20:01] raideer opened #32 "Bad line ending"
Cant run the script due to dos line ending
`bash: ./csgo-server-launcher.sh: /bin/bash^M: bad interpreter: No such file or directory`

Resaving the file with Unix line endings fixes this

[2017-04-22 09:44] #32 closed

[2017-04-22 09:46] crazy-max commented on #21
Ok thanks i close this issue for the moment

[2017-04-22 09:46] #21 closed

[2017-04-22 09:47] crazy-max commented on #14
@lucasgautheron @timotheus0106 Is this problem still relevant?

[2017-04-23 15:57] crazy-max commented on #32
Thanks for your feedback!
Issue solved in 1.12

[2017-04-23 18:58] crazy-max opened #33 "Use type instead of which"

[2017-04-23 20:02] crazy-max opened #34 "Add screenlog"
Will be located in /var/steamcmd/games/csgo/csgo/screenlog.*

[2017-04-23 21:09] crazy-max opened #35 "Create a symlink for steamclient.so"
`/home/steam/.steam/sdk32/steamclient.so: cannot open shared object file: No such file or directory`

[2017-04-24 14:51] #19 closed

[2017-04-24 14:51] #33 closed

[2017-04-24 14:51] #34 closed

[2017-04-24 14:51] #35 closed

[2017-04-25 13:27] #14 closed

[2017-05-03 15:15] RainDropsGaming commented on #30
steam@(IP):/etc/csgo-server-launcher$ sudo service csgo-server-launcher start

Job for csgo-server-launcher.service failed. See 'systemctl status csgo-server-launcher.service' and 'journalctl -xn' for details.

steam@(IP):/etc/csgo-server-launcher$ systemctl status csgo-server-launcher.service
● csgo-server-launcher.service - LSB: CSGO Server Launcher
   Loaded: loaded (/etc/init.d/csgo-server-lau

[2017-05-03 15:23] crazy-max commented on #30
@RainDropsGaming What is your distrib?

[2017-05-03 16:36] RainDropsGaming commented on #30
latest version, And what do you mean distrib?

[2017-05-03 16:42] crazy-max commented on #30
@RainDropsGaming Your linux distribution (Debian, Ubuntu, etc...) and version (Debian 8, Ubuntu 17.04, etc...)

[2017-05-03 16:44] RainDropsGaming commented on #30
Debian

[2017-05-03 17:49] RainDropsGaming commented on #30
After making sure everything was updated, I have the same issue

[2017-05-03 17:50] crazy-max commented on #30
Ok can you enter this command `cat /var/steamcmd/games/csgo/screenlog.*` and attach the output as file (drag & drop the file in the textarea)

[2017-05-03 17:52] RainDropsGaming commented on #30
cat: /var/steamcmd/games/csgo/screenlog.*: No such file or directory

[2017-05-03 17:53] crazy-max commented on #30
Oh this is strange, can you enter this command `/etc/init.d/csgo-server-launcher start` and give me the output ?

[2017-05-03 17:56] RainDropsGaming commented on #30
ERROR: You need screen for this script (try apt-get install screen)
I then installed it and now it outputs...

Starting csgo...
ERROR: ~/Steam/cs_go is not a directory

[2017-05-03 17:58] crazy-max commented on #30
Do you read the FAQ : https://github.com/crazy-max/csgo-server-launcher#faq ?
Can you paste your `csgo-server-launcher.conf` please (remove the passwords and gslt token before) ?

[2017-05-03 18:08] RainDropsGaming commented on #30
~/Steam is the directory where  I installed SteamCMD
Then CSGO installed to ~/Steam/cs_go (following https://developer.valvesoftware.com/wiki/SteamCMD#Downloading_SteamCMD )

# This file is an integral part of csgo-server-launcher.
# More : https://github.com/crazy-max/csgo-server-launcher#installation

SCREEN_NAME="csgo"
USER="steam"
IP="Removed"
PORT="27015"

# Anonymous connection will be depre

[2017-05-03 18:11] crazy-max commented on #30
I think your server is a fresh install, have you type `service csgo-server-launcher create` before ?

[2017-05-03 18:13] RainDropsGaming commented on #30
Creating csgo...
~/Steam does not exist, creating...
ERROR: Could not create ~/Steam

[2017-05-03 18:14] crazy-max commented on #30
Ok it's a permission issue like this item in the FAQ : https://github.com/crazy-max/csgo-server-launcher#cannot-create-directory-varsteamcmd

[2017-05-03 18:15] crazy-max commented on #30
So for you : `chown -R steam. ~/Steam`
Are you cannected as `root` or `steam` user ?

[2017-05-03 18:17] RainDropsGaming commented on #30
My user was named Steam, I switched to root

[2017-05-03 18:17] crazy-max commented on #30
hum so you have to change `USER="steam"` to `USER="Steam"` in your config

[2017-05-03 18:19] RainDropsGaming commented on #30
ERROR: You must configure the script before you create a server.

I have already configured it though

[2017-05-03 18:21] RainDropsGaming commented on #30
Figured it out, I did not set the right IP, After that issue

Creating csgo...
~/Steam does not exist, creating...
No passwd entry for user 'Steam'
ERROR: Could not create ~/Steam

[2017-05-03 18:22] crazy-max commented on #30
You don't have home for your user.
Type `mkdir ~/Steam`

[2017-05-03 18:23] crazy-max commented on #30
I suggest to retry from the beginning by following the default csgo-server-launcher steps :

* Connect as `root`
* Read and apply https://github.com/crazy-max/csgo-server-launcher#installation
* useradd -m steam
* mkdir /var/steamcmd
* chown -R steam. /var/steamcmd
* service csgo-server-launcher create
* service csgo-server-launcher start
* service csgo-server-launcher status
* tail -f /var/steamc

[2017-05-03 18:23] RainDropsGaming commented on #30
mkdir: cannot create directory ‘/root/Steam’: File exists

[2017-05-03 18:24] crazy-max commented on #30
I suggest to retry from the beginning by following the default csgo-server-launcher steps :

* Connect as `root`
* Read and apply https://github.com/crazy-max/csgo-server-launcher#installation
* useradd -m steam
* mkdir /var/steamcmd
* chown -R steam. /var/steamcmd
* service csgo-server-launcher create
* service csgo-server-launcher start
* service csgo-server-launcher status
* tail -f /var/steamc

[2017-05-03 20:02] crazy-max commented on #30
@RainDropsGaming is it ok now ?

[2017-05-03 20:03] RainDropsGaming commented on #30
I am still working on it now, It is not letting me install steamCMD into /home/steam which is complicating things

[2017-05-03 20:05] crazy-max commented on #30
Ok, have you tried with `/var/steamcmd` like i said in my previous comment to figure out if it's a folder issue ?

[2017-05-03 20:08] RainDropsGaming commented on #30
Same error in /var/steamcmd

[2017-05-03 20:17] RainDropsGaming commented on #30
Another question im having issues with (not related), When I log into the user steam it can only access /home/steam , I have already given it sudo

[2017-05-03 20:56] RainDropsGaming commented on #30
After going through an entire re install, It put nothing in /var/steamcmd, Fully empty
thought ~/Steam has everything all steam files and CSGO

# service csgo-server-launcher create
Creating csgo...
~/Steam does not exist, creating...
ERROR: Could not create ~/Steam

[2017-05-03 21:00] crazy-max commented on #30
You have to edit your config (DIR_STEAMCMD)

[2017-05-03 21:02] RainDropsGaming commented on #30
I have, Did I do something incorrectly?
DIR_STEAMCMD="~/Steam"

DIR_ROOT="$DIR_STEAMCMD/csgo"
DIR_GAME="$DIR_ROOT/csgo"
DIR_LOGS="$DIR_GAME/logs"
DAEMON_GAME="srcds_run"

[2017-05-03 21:03] crazy-max commented on #30
`DIR_STEAMCMD="/var/steamcmd"`

[2017-05-03 21:12] RainDropsGaming commented on #30
service csgo-server-launcher create
/etc/csgo-server-launcher/csgo-server-launcher.conf: line 38: unexpected EOF while looking for matching `"'
/etc/csgo-server-launcher/csgo-server-launcher.conf: line 39: syntax error: unexpected end of file
Creating csgo...
Downloading steamcmd from http://media.steampowered.com/client/steamcmd_linux.tar.gz
--2017-05-03 17:04:23--  http://media.steampowered.com/

[2017-05-03 21:16] RainDropsGaming commented on #30
Any idea what went wrong there?

[2017-05-03 21:21] crazy-max commented on #30
You have bad line endings in your config. You have probably edited the file on windows.

[2017-05-03 21:26] RainDropsGaming commented on #30
I did, (FTP) How would I fix that then?

[2017-05-03 21:27] crazy-max commented on #30
Install dos2unix

[2017-05-03 21:35] RainDropsGaming commented on #30
I removed and reinstalled the conf file, Did it all in `nano` and I have the same error

[2017-05-03 21:36] crazy-max commented on #30
Have you used wget to dowload the conf?

[2017-05-03 21:36] RainDropsGaming commented on #30
Yes

[2017-05-04 17:53] RainDropsGaming commented on #30
after reinstalling my OS in general, I followed exactly what each thing said and what you said here

useradd -m steam
mkdir -p /var/steamcmd
chown -R steam. /var/steamcmd
/etc/init.d/csgo-server-launcher create
/etc/init.d/csgo-server-launcher start
/etc/init.d/csgo-server-launcher status
tail -f /var/steamcmd/games/csgo/screenlog.*

and now it is working great

How do I exit status? CTRL+A+D does

[2017-05-04 18:10] crazy-max commented on #30
CTRL+A then D

[2017-05-04 18:10] #30 closed

[2017-05-04 21:06] RainDropsGaming opened #36 "Start map not changing"
...

EXTRAPARAMS="-nohltv +sv_pure 0 +game_type 0 +game_mode 1 +mapgroup mg_bomb +map de_cbble"

PARAM_START="-game csgo -console -usercon -secure -autoupdate -steam_dir ${DIR_STEAMCMD} -steamcmd_script ${STEAM_RUNSCRIPT} -maxplayers_override ${MAXPLAYERS} -tickrate ${TICKRATE} +hostport ${PORT} +ip ${IP} +net_public_adr ${IP} ${EXTRAPARAMS}"

It still launches de_dust2_se

[2017-05-04 21:17] crazy-max commented on #36
Sorry i don't bring support for csgo itself.

You can have support here :

* https://forums.alliedmods.net/forumdisplay.php?f=130
* https://steamcommunity.com/app/730/discussions/

But do not forget to read logs in `/var/steamcmd/games/csgo/screenlog.*`

[2017-05-04 21:17] #36 closed

[2017-05-04 21:30] RainDropsGaming commented on #36
I felt it was due to your script, With it automatically downloading the workshop maps in the .conf

If I am wrong I can work around it

[2017-05-14 14:51] SundownDEV opened #37 "failed to dlopen /var/steamcmd/games/csgo/csgo/bin/server.so"
Can't start the server, get this error:

[code]

also can't create the debug.log, tried reinstall, same.

[2017-05-14 15:24] SundownDEV commented on #37
added ["-nobreakpad" to server start parameters](http://csgo-servers.1073505.n5.nabble.com/IMPORTANT-Crash-Issues-td12352.html), got this error:
[code]

[2017-05-14 17:18] SundownDEV commented on #37
The server works fine when launching srcds_run manually with root user..

[2017-05-14 17:25] crazy-max commented on #37
Hi @SundownDEV, thanks for your feedback,
What is your linux distrib / version ?
Can you paste your `csgo-server-launcher.conf` please (remove the passwords and gslt token before) ?

[2017-05-14 20:09] SundownDEV commented on #37
Debian 8

[code]

[2017-05-27 14:08] crazy-max commented on #37
Hi,

I have added the `-nobreakpad` option and removed `+ip ${IP}` for `PARAM_START` in the config file :

[code]

Now it works fine :

[code]

[2017-05-27 15:22] crazy-max commented on #37
Solved in latest release 1.12.2

[2017-05-27 15:22] #37 closed

[2017-05-27 17:22] SundownDEV commented on #37
Thanks for the fix, also rcon wasn't working, adding `+ip 00.00.00.00` to `PARAM_START` works fine.

[2017-05-27 18:33] crazy-max commented on #37
Ok thx for your feedback, i'll suggest adding this param to the EXTRA_PARAM because this does not work if rcon is on.
I will add this to the FAQ

[2017-07-04 12:05] soyelraul opened #38 "Bug with screen >= 4.5.0 on Debian 9"
hey i updated to debian 9 and now this script is not working correctly, when i try to start a server, it throws this and the server don't start:

[code]

[2017-07-04 17:00] crazy-max commented on #38
Hi @soyelraul,

I will investigate on this issue, i keep you in touch.

[2017-07-04 17:59] crazy-max commented on #38
On Debian 9, screen has been updated to 4.05.00 (10-Dec-16) and changes have been made with the `-L` flag. Will be solved asap.

[2017-07-04 19:03] crazy-max commented on #38
Solved on 1.12.3 release

[2017-07-04 19:03] #38 closed

[2017-07-12 17:30] aferpa94 opened #39 "Steam Guard"
If you can, add support for steam guard, cause the script freezes when login in while steam asks for the steam guard code. In the mean time I'v disabled steam guard 👍 .

[2017-11-28 08:35] AchintyaDutta opened #40 "Server starts but can't connect?"
So I start the server and it says "xyz" started successfully
But then I go into the game and enter in connect <IP>:<Port> and it keeps retrying?

What can I do? I tested this on other Steam accounts as well. I didn't do an anonymous login.
![image](https://user-images.githubusercontent.com/20384214/33309729-273782d0-d445-11e7-902d-993d7b5d8c30.png)

I'm sorry if I've made a silly mistake or someth

[2018-01-05 13:54] shikharbhardwaj commented on #40
Check your firewall settings (port 27015 should be open).

[2018-02-17 06:58] #40 closed

[2018-07-11 21:20] crazy-max commented on #39
I put your feature in my backlog thx

[2018-11-16 19:25] thiagohrm opened #42 "Issues when after installing sourcemod"
i'm having problems after installing sourcemod + metamod, the server did not start correctly.

[2018-11-16 19:30] crazy-max commented on #42
Please read and apply the [contribution guidelines](https://github.com/crazy-max/csgo-server-launcher/blob/master/.github/CONTRIBUTING.md). Thanks.

[2018-11-17 20:31] #22 closed

[2018-11-17 20:31] #42 closed

[2018-11-17 21:14] #24 closed

[2018-11-17 23:51] crazy-max commented on #23
Solved in 1.13.1

[2018-11-17 23:51] #23 closed

[2018-11-17 23:51] crazy-max commented on #31
Solved in 1.13.1

[2018-11-17 23:51] #31 closed

[2019-01-31 15:45] MikkelDK opened #44 "[Docker] AutoUpdate / separate server.cfg"
Hey @crazy-max

Is there planned or are it already possible to make auto-update of the csgo-server(s) via docker?

Reason for I'm asking, because, I will hear about it's possible to host *multiple csgoservers* on shared files (srcds_run/maps/cfg) except server.cfg e.g ;) so it's possible to create (to one of each csgoserver via docker)

Let me hear, from you!
And thanks for your nice script! ;)

[2019-02-01 13:07] MikkelDK opened #45 "Docker version problem."
### Behaviour

#### Steps to reproduce this issue

1. Trying docker-compose up from the docker folder.
2. Getting an error about the compose file is only works for 2.0 and not 3.2

#### Expected Behaviour
Did trying to use your docker version of csgo-server-launcher.
I did use docker-compose up, but getting an error with the compose file is only for 2.0 and not 3.2.

#### Actual Behaviour
Same as

[2019-02-01 13:57] crazy-max commented on #45
Can you give me the output of `docker info` and `docker-compose --version`
Also take a look here for compatibility : https://docs.docker.com/compose/compose-file/#compose-and-docker-compatibility-matrix

[2019-02-01 14:03] MikkelDK commented on #45
## Docker info:
[code]

## docker-compose version
[code]

[2019-02-01 14:12] MikkelDK commented on #45
//Fixed. seems docker's APT don't update to the newest! ;) I got it fixed! :D

[2019-02-01 14:12] #45 closed

[2019-03-01 18:09] Soren90 commented on #44
Hi MikkelDK,

Im not sure if im just being cpt obvious here, but you could run multiple docker containers with the same configfiles/maps bind-mounted from the host.

[2019-03-01 19:40] MikkelDK commented on #44
I have still not found out, how it works! ;/

[2019-03-01 20:09] Soren90 commented on #44
Could you elaborate what your issue is? I will do my best to help!

Den fre 1 mars 2019 20:40Mikkel <notifications@github.com> skrev:

[2019-03-01 20:28] MikkelDK commented on #44
Yeah, I don't know how the "settings" should be. (I just noted on the Wiki) As example via "FAQ" I'm just reading this: "Create multiple instances" - But that doesn't give me an answer: How I do it!

As example, about it "share" files (without) to share the same server.cfg (with servername/rcon_password/sv_password) e.g

[2019-03-01 21:51] Soren90 commented on #44
All right. Just to clarify some of your questions first. You don't need to think about the sharing the files, that is handled by dockers overlay2 filesystem automatically. What it does is that every image you store will be the baseline for the container that you run and i the container will only increase in filesize when changes are being made to the container. You can see it as a snapshot in a no

[2019-03-01 22:02] MikkelDK commented on #44
@Soren90 So, what if I want to locate (as example server.cfg) on each? is that possible? like I'm thinking to add few .cfg files (e.g: alias.cfg, esl5on5, sourcemod e.g?)

[2019-03-01 22:05] Soren90 commented on #44
@MikkelDK Yes, you can bind mount it in:
-v /path/to/cfg/on/host/server.cfg:/destination/in/container/server.cfg

[2019-03-01 22:08] MikkelDK commented on #44
@Soren90 What about the installation of addons? - Do you have tested that?

[2019-03-01 22:13] Soren90 commented on #44
@MikkelDK Well, it's accually the same process as installing it on the host. The "correct" way of doing it is to modify the dockerfile and rebuild the image. But the quick and lazy way of doing it is to attach to the container and install the same way as you would do it on the host with: docker exec -it csgo /bin/bash

This is getting kind of unrelated to the project. You should be able to find th

[2019-03-01 22:37] MikkelDK commented on #44
I will try to do that one tomorrow! ;) for testing. thanks! ^^

[2019-03-14 15:49] #44 closed

[2019-06-05 04:23] jintzy opened #47 "Server will not start if extra params are added"
When I try to start my server it fails after saying it was done successfully if i add extra params. When I don't, it works fine. This wouldn't be a problem because I can just type them in console after I start the server, but every time the map changes all the params reset to default, with the exclusion of hostname. Mostly I want to have mp_teammates_are_enemies set to 1, but there are a few other

[2019-06-06 11:47] mspencerl87 opened #48 "Server.cfg how to set server hostname"

[2019-06-14 18:04] mspencerl87 opened #49 "HTTP Error downloading"
### Behaviour

Error: An HTTP Request took too longer to complete

#### Steps to reproduce this issue

1. docker-compose up -d
2. docker-compose logs -f
3. error after connecting to steam

#### Expected Behaviour

#### Actual Behaviour

### Configuration

Ubuntu 16.04

Latest Pull/ Default config except for GSLT and API key

### Logs

### Screenshots

![2019_06_14_13_02_24_LNHOST](https://user-ima

[2019-06-14 18:05] #48 closed

[2019-06-14 18:09] crazy-max commented on #49
Not linked to csgo-server-laucnher but docker-compose.
Post an issue on [docker/compose](https://github.com/docker/compose). Also docker/compose#3633 and docker/compose#5620 might help.

[2019-06-14 18:09] #49 closed

[2019-06-14 18:26] crazy-max commented on #47
You can add your param through [EXTRA_PARAMS](https://github.com/crazy-max/csgo-server-launcher/wiki/Configuration#extraparams) var in your config file.

[2019-06-14 18:26] #47 closed

[2019-07-09 00:46] dEROZA opened #50 "lib32ncurses5-dev must be used on 19.04"
lib32ncurses5 not exist in disco reps, instead lib32ncurses5-dev must be used for 19.04 release. And why u use /var/ dir? Some people can mount var with small disc space))

[2019-07-09 01:13] dEROZA opened #51 "Composer closed, but docker still works in background."
![composer_closed_docker_works](https://user-images.githubusercontent.com/8126176/60852383-1966bb80-a22a-11e9-946e-733d7420a124.png)

I'm a newbie in docker, so it's a big deal for me. I use composer installer as you told, but in my var dir isn't enought space for csgo server location. Therefore steamcmd can't install it, and I don't understand how I can finish containers' looped operation. And ho

[2019-07-09 05:26] dEROZA commented on #51
I tried to use stop command on docker, and create a symlink to other localtion from /var/.../csgo

[2019-07-09 15:46] dEROZA opened #52 "Where SRCDS console?"
how to grab srcds console when running with docker?

[2019-07-09 22:14] crazy-max commented on #50
@dEROZA

You are not on a [LTS release of Ubuntu](https://packages.ubuntu.com/search?keywords=lib32ncurses5) so that's pretty normal.

[2019-07-09 22:14] #50 closed

[2019-07-09 22:24] crazy-max commented on #51
If you are new to Docker, you need to understand its operating philosophy before making "bad things". I suggest to read their [Get started guide](https://docs.docker.com/get-started/). And next read the [Docker compose guide](https://docs.docker.com/compose/gettingstarted/). This should help you getting started. As your problem concerns volumes under Docker, read [this](Concerning https://docs.doc

[2019-07-09 22:24] #51 closed

[2019-07-09 22:31] crazy-max commented on #52
It's explained on [Usage page](https://github.com/crazy-max/csgo-server-launcher/wiki/Usage) (console arg).

[2019-07-09 22:31] #52 closed

[2019-07-10 11:01] dEROZA commented on #52
in docker-composer? Console command not exists!

[2019-07-10 11:12] dEROZA commented on #52
omg, i thought that docker +composer and them enought for server management.

[2019-07-10 11:16] dEROZA commented on #52
why you EXPOSE 27015 27015/udp only, what about MasterServer 26900-2690x?

[2019-07-10 11:18] dEROZA commented on #52
and why steam user has sudo-nopassword prev?

[2019-07-10 11:24] dEROZA commented on #52
why you "EXPOSE 27015 27015/udp" only, what about MasterServer 26900-2690x?
and why steam user has sudo-nopassword prev?

can u tell me, where csgo launcher will install the server, update and install new packages, launchers' services? Is them on ghost VM or in docker container will be placed?

[2019-07-10 16:47] dEROZA opened #53 "Environment variables in docker-composer has bug"
[code]
PUID, PGID  not works for

I've already another user under 1000 id, steam at 1001.

I configured _csgo-server-launcher.env_, and change _PUID_, and _PGID_ to _1001_, but instead of this docker installed files as 1000 uid forcibly

[2019-07-12 02:05] crazy-max commented on #53
What's the content of your compose file ?

[2019-07-12 02:07] crazy-max commented on #52
I think you have a misunderstanding about how Docker works. See [my comment](https://github.com/crazy-max/csgo-server-launcher/issues/51#issuecomment-509832531). And please one issue at a time.

[2019-07-12 02:55] dEROZA commented on #53
[code]

[2019-07-12 02:56] dEROZA commented on #53
[code]

[2019-07-12 02:57] crazy-max commented on #53
Compose file..

[2019-07-12 03:07] dEROZA commented on #53
what is it mean?)

[2019-07-12 03:21] crazy-max commented on #53
I talk about `docker-compose.yml`.

In a container. Please read [my comment](https://github.com/crazy-max/csgo-server-launcher/issues/51#issuecomment-509832531) to fully understand how docker works.

Like I said in the [README](https://github.com/crazy-max/csgo-server-launcher/tree/master/docker#docker-compose), the path `/var/csgo-server-launcher/` on your host is an example. Use another path if

[2019-07-12 03:28] dEROZA opened #54 "Is it correct description for these PUID and PGID?"
https://github.com/crazy-max/csgo-server-launcher/tree/master/docker
[code]

P.S. why server uses old 1000 value forcibly when I changed PUID and PGID to another value?

I think you not fully understand what're doing.. are you an author of this script? Or steam user it's a steamcmd maintenance user only, and srcds can be running under another user? Or what? Tell me ^_^

[2019-07-12 03:34] KenMurphy commented on #54
dude just stop

[2019-07-12 04:05] #54 closed

[2019-08-20 09:12] St0ner1995 opened #55 "Cant set DNS"
Is it possible to have an environment variable somewhere to set the DNS server so i can use a steam cache?

Thanks

[2019-08-20 11:12] crazy-max commented on #55
Hi @St0ner1995, is it about the docker image?

[2019-08-20 12:58] St0ner1995 commented on #55
Yes it is

[2019-08-20 19:44] crazy-max commented on #55
@St0ner1995 You can define custom dns server using `--dns` switch with [`docker run` command](https://docs.docker.com/engine/reference/run/#network-settings). If you're using docker-compose, take a look [here](https://docs.docker.com/compose/compose-file/#dns).

[2019-08-20 19:44] #55 closed

[2019-08-24 02:54] mgerb commented on #52
It's still unclear how to access the console while running with docker. I run it with the -console and am still unsure how to get console access while it's running. I'm pretty familiar with docker, so maybe I'm just missing something here?

[2019-08-27 00:22] crazy-max commented on #52
@mgerb The console is currently not available for the Docker image.

[2019-09-09 19:41] J0nathan-S opened #56 "Can't get docker image running docker-compose"
### Behaviour

#### Steps to reproduce this issue

1. Download the three files from git repo: [docker-compose-examples](https://github.com/crazy-max/csgo-server-launcher/tree/master/docker/examples/compose)
2. Clone GitHub Repo
3. Install Server in order to have Steam, CSGO and SteamCMD installed correctly and working
4. docker-compose up -d
5. docker-compose logs -f

#### Expected Behaviour

####

[2019-09-09 20:54] crazy-max commented on #56
Hi @J0nathan-S, thanks for your report. Can you test with this image: `crazymax/csgo-server-launcher:1.13.4`?

[2019-09-10 07:24] J0nathan-S commented on #56
Didn't help. Same behaviour.

[2019-09-13 14:55] J0nathan-S commented on #56
Okay, the problem is on my side. Somehow no docker Image is able to reach the internet.

[2019-09-13 14:55] #56 closed

[2019-09-21 12:45] Gugols opened #57 "Regular password, RCON password setup, steam login necessity"
Hi, I have two questions regarding this setup:

- How can I specify RCON (administration) password to be used?
- How can I protect my server and require a password in order to play in it?
- Why there's a need to specify my Steam's user & password in config?

[2019-09-24 15:59] frisbee23 opened #58 "enhancement: don't overwrite config when re-installing"
### Behaviour
just did a install to upgrade from v 13.3 -> 13.5,
now my config is gone :(
but luckily i have a backup!
#### Steps to reproduce this issue

1.see above
2.
3.

#### Expected Behaviour

let the old config file not be overwritten

#### Actual Behaviour

it got overwritten

### Configuration

**Operating system and platform (ex. Debian 9 64bits)** :
ubuntu 18.04.3 64bit

**csgo-server-l

[2019-09-24 15:59] frisbee23 commented on #58
edit: with config i mean the launcher config  /etc/csgo-server-launcher/csgo-server-launcher.conf

[2019-09-24 16:18] crazy-max commented on #58
@frisbee23

1.13.3 > 1.13.5 you mean right?
Docker image or [install script](https://github.com/crazy-max/csgo-server-launcher/blob/master/doc/installation.md#install-script)?

[2019-09-25 14:22] frisbee23 commented on #58
install script..

[2019-09-25 14:22] frisbee23 commented on #58
yeah versions of you are correct, sorry my bad

[2019-09-27 10:56] SdlasHeras commented on #39
+1

[2019-10-01 09:56] HTMHell opened #59 "How to run commands via one-liner SSH and get output?"
I have a `NodeJS` script that connects to the server via SSH.
I want to run commands at `/etc/init.d/csgo-server-launcher console` in that SSH connection.
I managed to do so by running the following command:
`export TERM=screen && echo "command" | /etc/init.d/csgo-server-launcher console`
The only issue is, I don't get an output, because the `console` is still hanging there.

I want to run the com

[2019-10-02 12:30] Dowoh opened #60 "Update needed ?"
When  i go for automatic install via the scripte, i got that error

[code]

Found out that if i change that line of code in the manual install

`apt-get install -y -q libc6-i386 lib32stdc++6 lib32gcc1 lib32ncurses5 lib32z1 curl gdb screen tar wget`

into

`apt-get install -y -q libc6-i386 lib32stdc++6 lib32gcc1 lib32ncurses6 lib32z1 curl gdb screen tar wget`

The install goes well.

Hope it will w

[2019-10-02 12:48] crazy-max commented on #60
@Dowoh That's true if you are on debian buster. Are you? Please create a proper [bug report](https://github.com/crazy-max/csgo-server-launcher/issues/new?template=bug_report.md) next time, It'll save me the guessing ;)

[2019-10-02 13:06] #60 closed

[2019-10-10 22:27] crazy-max commented on #58
@frisbee23 Should be fixed now

[2019-10-10 22:27] #58 closed

[2019-10-12 17:27] frisbee23 commented on #58
thanks dude!!

On Fri 11. Oct 2019 at 00:27, CrazyMax <notifications@github.com> wrote:

--
Philipp Knoll //  +43 699 10485901 // frisbee23@gmail.com

[2019-10-20 10:01] shmidtelson commented on #60
Ubuntu 18.04.2 LTS not found package lib32ncurses6
Fix:
https://packages.ubuntu.com/cosmic/amd64/lib32ncurses6/download

[2019-10-20 15:55] shmidtelson opened #61 "How to open server on other port ?"
Statically use 27015.
I am use two servers on one vds. How to use 27016 port?

[2019-10-20 16:12] crazy-max commented on #61
See [Configuratino doc](https://github.com/crazy-max/csgo-server-launcher/blob/master/doc/configuration.md).

[2019-10-21 07:01] shmidtelson commented on #61
@crazy-max Sorry. I am use a Docker. And in container port statically use.

[2019-10-21 07:14] crazy-max commented on #61
* https://docs.docker.com/engine/reference/commandline/run/#publish-or-expose-port--p---expose
* https://docs.docker.com/config/containers/container-networking/
* https://docs.docker.com/compose/compose-file/#ports

[2019-10-21 13:13] crazy-max commented on #61
@shmidtelson In your case `-p 27016:27015 -p 27016:27015/udp`

[2019-10-21 16:51] shmidtelson commented on #61
@crazy-max Ok, look.
Docker-compose:
![Screenshot_20191021_192344](https://user-images.githubusercontent.com/6944443/67225271-9a456e00-f43b-11e9-8344-336bef7f6f46.png)
Start command inside docker-compose:
![Screenshot_20191021_192652](https://user-images.githubusercontent.com/6944443/67225337-b77a3c80-f43b-11e9-9a9a-c105208953df.png)
Result in search...
![ezgif-4-52a7d4cfa7c6](https://user-images.

[2019-10-22 07:42] #53 closed

[2019-10-22 07:42] crazy-max commented on #61
@shmidtelson Hum maybe because the server is registered on 27015 internally. Keep you in touch.

[2019-10-22 07:50] shmidtelson commented on #61
@crazy-max I think, param **+hostport** send info in global search.
I have one idea:
Add in **.env** file param **PORT** with def. value 27015, and use this param in
docker-compose.yml
[code]
And in srcds params **+hostport** ${PORT} in install script

[2019-10-22 07:51] crazy-max commented on #61
Yes that's it

[2019-10-22 07:52] crazy-max commented on #61
I prepare a PR keep u in touch

[2019-10-22 08:34] #61 closed

[2019-10-22 09:03] crazy-max commented on #61
@shmidtelson Should be ok now

[2020-01-16 22:10] christopherho96 opened #65 "running the app_run <AppId> command for SteamCMD gives ERROR"
Im currently trying to use the commands provided by SteamCMD on a windows machine.
These are the commands I did:

downloaded the steamcmd zip. unzipped it.
opened the steamcmd by running:
`steamcmd`

logged into steam using:
`login <username> <password>`

did this to install the game I wanted:
`app_update <appId>`

then finally, after it finished installing I ran:
` app_run <appId>`

I keep gettin

[2020-01-16 22:10] #65 closed

[2020-01-19 11:11] kuper1994 opened #66 "Multiple servers"
There is any option to start 5 servers from same command
Mean if I'm starting first server it will start with 27015 port, 2nd will start with 27016, 3rd 27017 and etc.

thanks.

[2020-01-19 11:57] crazy-max commented on #66
@kuper1994 No you have to create each instance manually. For more info see https://github.com/crazy-max/csgo-server-launcher/blob/master/doc/faq.md#create-multiple-instances

[2020-01-19 11:57] #66 closed

[2020-04-01 22:08] crazy-max commented on #59
This is not currently supported. Feel free to open a PR to fix that. Thanks.

[2020-04-01 22:08] #59 closed

[2020-04-02 09:58] melashkov opened #67 "Error: Unable to locate package lib32ncurses6 on Ubuntu 18.04.3 LTS"
### Behaviour

#### Steps to reproduce this issue

1. Create brand new image of Ubuntu 18.04.3 LTS
2. Login as root
3. root@CS-GO:~# sudo curl -sSLk https://github.com/crazy-max/csgo-server-launcher/releases/download/v1.14.2/install.sh | sudo bash

#### Expected Behaviour

#### Actual Behaviour

### Configuration

**Operating system and platform (ex. Debian 9 64bits)** : 18.04.3 (LTS) x64 (Digital

[2020-04-02 10:03] melashkov commented on #67
Also this command returns
[code]

[2020-04-02 10:10] crazy-max commented on #67
This repository is not a self-promoting platform

[2020-04-02 10:10] #67 closed

[2020-04-02 10:13] melashkov commented on #67
Sorry about that, do you still want the report? i have found the fix?

[2020-04-02 10:13] crazy-max commented on #67
@melashkov See https://github.com/crazy-max/csgo-server-launcher/issues/60#issuecomment-544237899

[2020-04-02 10:15] melashkov commented on #60
can you please elaborate on that?
`
Error
two or more packages specified (lib32ncurses6 cosmic)
`
not sure what it is mean?

[2020-04-02 10:19] melashkov commented on #67
can you please elaborate on that?
Error two or more packages specified (lib32ncurses6 cosmic)
not sure what it is mean?

I did this change and it fixed issue for me https://github.com/crazy-max/csgo-server-launcher/pull/68

[2020-04-02 10:21] crazy-max commented on #67
@melashkov

Yes that should be a good fix.

[2020-04-02 10:23] melashkov commented on #67
great, happy to help

[2020-04-02 10:53] melashkov commented on #57
`
hostname "My CS:GO Dedicated Server"
rcon_password "stayhome_savelifes"
sv_password "stayhome" //Only set this if you intend to have a private server!
sv_cheats 0 //This should always be set, so you know it's not on
`

please see https://developer.valvesoftware.com/wiki/Counter-Strike:_Global_Offensive_Dedicated_Servers

[2020-04-15 23:32] crazy-max commented on #39
@aferpa94

Steam guard does not fit with the purpose of a Steam game server. Update and such automated operations can't work with Steam Guard. It also causes technical issues where you cannot actually input the password when steamcmd is started because it waits for input.
So I advise making a dedicated Steam account for your CSGO Server Launcher in order to minimize the risks on your main account.

[2020-04-15 23:32] #39 closed

[2020-04-15 23:37] crazy-max commented on #57
@Gugols

Not required but advised in some cases when updates could not be downloaded. Also, for security reasons it is recommended that you create a new Steam account just for your dedicated servers.

[2020-04-15 23:37] #57 closed

[2020-05-19 06:40] fredericrous commented on #15
user is having a dos2unix issue because he is on windoes. ^M in sh script is international I believe.

[2020-06-30 20:06] webman commented on #52
@crazy-max have some idea how to use console? Or just send commands to srcds?

[2020-08-06 04:18] jakobkukla opened #77 "RCON and server password in env variables?"
Can I add a server or rcon password with environment variables?

[2020-10-09 02:35] #77 closed

[2020-10-28 07:17] preeteshjain opened #90 "Can't use RCON, says "Unable to connect to remote server""
I can't seem to login as Admin using `rcon` and change maps or do other admin stuff from inside the game. Repeatedly getting this on entering commands like `rcon changelevel de_inferno`:

[code]

### Configuration

**Operating system and platform**: Ubuntu 20.04 on AWS EC2

**csgo-server-launcher version**: 1.15.1

### Screenshots

![image](https://user-images.githubusercontent.com/6207830/9740389

[2020-10-28 14:29] preeteshjain commented on #90
Found the solution. The issue is that the default config doesn't tell the game to listen on the UDP port which `rcon` depends on. So you have to add `-ip 0.0.0.0` in the config.

You can set it in your `EXTRAPARAMS` like so:

[code]

And it should work. But before this, do make sure your UDP port listens on 27015. Your output for `netstat -tulnp | grep 27015` should be:

[code]

[2020-10-28 14:29] #90 closed

[2020-12-17 14:29] TAINCER opened #92 "Processes and Folders always belong to the default user"
### Behaviour
Docker should use the specified user with the group in the .env file, but it's always 1000 (default)

#### Steps to reproduce this issue

1. use the docker-compose.yml and .env file from the example in the Repository.
2. Change the PID and GID Values to another user on the Host system.
3. Change the version to 2.4 and change the Ports accordingly.
3. The folders and processes are own

[2021-04-25 02:10] bluboy-official opened #95 "Hope to add support for Steam accounts with Mobile verification"
### Behaviour

#### Steps to reproduce this issue

1.A Steam account with 2-step verification
2.create the server

#### Expected Behaviour

Hope to add support for Steam accounts with Mobile verification,the script will ask for the verification code and then login in successfully
#### Actual Behaviour
script always waiting for the account info

### Configuration

**Operating system and platform (e

[2021-08-03 13:13] netr0m commented on #92
@crazy-max From a quick glance, this seems to relate to [the following line(s):](https://github.com/crazy-max/csgo-server-launcher/blob/master/Dockerfile#L40)?
`RUN groupadd -f -g 1000 steam \
  && useradd -o --shell /bin/bash -u 1000 -g 1000 -m steam \`

[2021-09-13 15:39] TOWUK opened #100 "csgo updated successfully /etc/init.d/csgo-server-launcher: line 265: mail: command not found"
### Behaviour

#### Steps to reproduce this issue

1. just install script
2. /etc/init.d/csgo-server-launcher create
3. wait

#### Expected Behaviour
![изображение](https://user-images.githubusercontent.com/28830162/133113878-62d53deb-a8cc-480d-88fa-d0de7ff36aa5.png)

**Operating system and platform (ex. Debian 9 64bits)** :
ubuntu latest 20.04

**csgo-server-launcher version (ex. 1.12.3)** : last

[2021-10-18 17:29] EyLeoo opened #101 "ERROR: Cannot retrieve your public IP address..."
ERROR: Cannot retrieve your public IP address...
What should i do? :(

[2021-11-06 11:18] chrissas opened #103 "lib32gcc1 in debian 11"
lib32gcc1 is not reachable in debian 11 and is replaced by lib32gcc-s1

when i launch the command :
sudo curl -sSLk https://github.com/crazy-max/csgo-server-launcher/releases/download/v1.15.2/install.sh | sudo bash

E: The "lib32gcc1" package does not have a version that can be installed
ERROR: Cannot install required packages ...
lib32gcc-s1 is already the most recent version (10.2.1-6).

[2022-01-23 13:25] crazy-max commented on #101
[code]

[2022-01-23 13:25] #101 closed

[2022-01-23 13:30] #103 closed

[2022-01-23 13:42] crazy-max commented on #100
[code]

[2022-01-23 13:42] #100 closed